@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  50% {
    transform: translatex(1rem);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  50% {
    transform: translatex(-1rem);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes moveToBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    transform: translate(0px);
  }
}
