body {
}
.heading-primary {
  color: $color-text;
  text-transform: uppercase;
  margin-bottom: 4rem;
  .heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveToRight;
    animation-duration: 2s;

    @include repond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.45rem;
    animation-name: moveToLeft;
    animation-duration: 2s;
    @include repond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondry {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, $primary-light, $primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  @include repond(tab-port) {
    font-size: 3rem;
  }
  @include repond(phone) {
    font-size: 2.5rem;
  }
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black-color, 0.2);
  }
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    text-decoration: none;
    display: inline-block;
    color: $primary-light;
    border-bottom: 1px solid $primary-light;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $primary-light;
    color: $color-text;
    box-shadow: 0 1rem 2rem rgba($black-color, 0.2);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($black-color, 0.2);
    transform: translate(0);
  }
}
